@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: DM Sans;
}

body{
    height: 100vh;
}

#main{
    display: flex;
    width: 100%;
    height: 100%;
}

#sidebar{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 20%;
    height: 100vh;
}

#sidebar button{
    border-radius: 0;
    border: none;
    background-color:#00053b;
    color: #fff;
    height: 50px;
    display: flex;
    gap: 5px;
    align-items: center;
    padding-left: 20px;
    font-size: 17px;
}

#sidebar-head{
    background-color:white;
    display: flex;
    align-items: center;
    gap:10px;
    height: 60px;
}

#sidebar button:hover{
    background-color:#1967D3;
}

@media(max-width: 675px){
    body {
        background-color: red;
    }
    .hidetextbtn{
        display: none;
    }
}

/* .hidden{
    display: none;
} */

/*---------------------- Content section ----------------- */

#content{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 80%;
    position: relative;
    overflow: scroll;
    height: 100vh;
    /* z-index: 2; */
}

#content>div{
    z-index: 5;
    margin-top: 60px;
}

/* navbar */

nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-right: 20px ;
    /* padding-top: 20px; */
    height:60px;
    background-color: #2b5ba7;
    align-items: center;
    padding-left: 20px;
    position: fixed;
    z-index: 7;
}

#hamburger{
    font-size: 20px;
    color: #fff; 
}

.dropdown-menu{
    display: flex;
    width: 40%;
    justify-content: space-between;
    /* border: 1px solid #fff; */
    padding-right: 30px;
    align-items: center;
}

#threedots{
    color: #ffffff;
    /* display: none; */
    position: relative;
    /* display: flex; */
    height:100%;
    padding-top:5px;
    padding-bottom:10px;
    margin-top: 30px;
    width: 30px;
}

.dropdown-content1{
    display: none;
    position: absolute;
    top:35px;
    right: 1px;
    /* background-color: #f9f9f9; */
    min-width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    width: 150px;
}

.dropdown-content1 span{
    display: flex;
    gap: 5px;
}

.dropdown-content1 a:hover{
    display: flex;
    gap: 5px;
    background-color: #00053b;
    color: #fff;
}

#threedots:hover .dropdown-content1 {
    /* background-color: #478eff;
    color: #ededed; */
    display: block;
}

@media(max-width: 430px){
   
    .dropdown-menu{
        display: none;
    }

    #threedots{
        display: block;
    }

}


.dropdown {
    position: relative;
    display: flex;
    height:100%;
    padding-top:5px;
    padding-bottom:10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top:35px;
    /* background-color: #f9f9f9; */
    min-width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content:hover {
    /* z-index: -1; */
}

.dropdown-content a,.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    /* background-color: #478eff;
    color: #ededed; */
    display: block;
}

.dropdown a:hover{
    background-color: #00053b;
    color: #fff;
}

.dropdown-content, .dropdown-content1{
    background-color: #a1c8ff;
    /* opacity: 0.5; */
}

/* .dropdown-menu>.dropdown:hover .dropdown-content.dropdown-content:hover  {
    display: block;
    background-color: #2b5ba7;
} */

.dropdown>span{
    font-size:17px;
    display: flex;
    gap: 5px;
    align-items: center;
    color: #e4e4e4;
    cursor: pointer;
}

.dropdown>span>i{
    font-size:1rem;
}

.dropdown>span>a{
    text-decoration: none;
    color: #e4e4e4;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
/*------------------------------------------------ form ----------------------------------------------*/

#form{
    height: 100%;
    width: 100%;
    /* background-color: #000; */
    /* opacity: 0.5;
    backdrop-filter: blur(10px); */
    position: absolute;
    top:60px;
    z-index: 6;
    /* opacity: 0.5; */
}

form{
    height: 250px;
    width: 280px;
    position: absolute;
    color: #fff;
    top:35%;
    left:35%;
    padding: 10px;
    padding-top:15px;
    /* opacity: 0.5; */
    z-index: 9;
    font-size: 15px;
    border-radius: 10px;
    background-color: #ffffff31;
    display: flex;
    flex-direction: column; 
    align-items: center;
    /* gap: 10px; */
}


form p{
    margin: 0 10px;
}

.form-inner-div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 25px;
    width: 100%;
}

.form-inner-div>input{
    background-color: #a9a9a9;
    border: none;
    color: #000;
}
.form-internal-div{
    display: flex;
    justify-content: space-between;
}

.form-internal-div a{
    text-decoration: none;
    color: #fff;
}

form>input{
    width: 100%;
}



#form-submit{
    background-color: #269315;
    border: none;
    color: #fff;
    padding:3px;
    margin-bottom:10px;
    font-size: 12px;
}

form button{
    width: 100%;
    margin-top: 10px;
    background-color: #f99500;
    border: none;
    color: #fff;
    padding:3px;
    cursor: pointer;
}


#background-blur{
    height:100%;
    width:100%;
    /* background-color: #001128; */
       backdrop-filter: blur(5px);
    /* opacity: 0.95; */
    z-index: 8;
}

#thin-black-sheet{
    z-index: 7;
    background-color: #000000;
    opacity: 0.85;
    height: 100%;
    width: 100%;
}

/*-------- Dashboard ------*/

#dashboard{
    background-color: #4b5b6c;
    padding: 20px;
    padding-top:10px;
}

#chartcontainer {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
    /* border: 1px solid #000; */
    row-gap: 50px;
    column-gap: 35px;
    padding: 5px;
}

.card-div{
    background-color: #ffffff;
    padding:15px;
    margin-top:20px;
    border-radius: 3px;
    padding-bottom: 10px;
    padding-top:5;
    width: 100%;
    box-shadow: 0 0 5px 0 #000;
}

.internal-card-div{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.internal-card-div>i{
    font-size:2.5rem;
    color: teal;
}

.internal-card-div h4{
    display: flex;
    gap: 5px;
    margin-top: 10px;
    font-size: 18px;
}

.internal-card-div p{
    font-size:1rem;   
}

.internal-card-div2{
    font-size:13px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    margin-top: 10px;
}

.internal-card-div-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.internal-card-div-5 h4, p{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.internal-card-div p{
    text-align: center;
}
.internal-card-div-5 i{
    font-size:2.7rem;
    color: #B5CC18;
    margin-bottom: 2px;
}

.card-div-5{
    background-color: #ffffff;
    padding:15px;
    border-radius: 3px;
    padding-bottom: 10px;
    padding-top:5;
    width: 100%;
    box-shadow: 0 0 5px 0 #000;
}




#card-container{
    grid-column: 1/span 4;
    display: grid;
    /* width: 100%; */
    /* justify-content: space-between;
    align-items: center; */
    grid-template-columns: repeat(4,1fr);
    gap: 35px;
}

@media(max-width: 1080px){
    #chartcontainer{
        display: flex;
        flex-direction: column;
    }

    #card-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:35px;
    }
}

@media(max-width: 414px){
    /* #chartcontainer{
        display: flex;
        flex-direction: column;
    } */

    #card-container{
        display: grid;
        grid-template-columns: 1fr;
        gap:35px;
    }
}



table{
    width: 100%;
    background-color: #fff;
    padding: 10px;
    
}

.chartparent {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px 0 #000;
    padding: 30px; 
    border-radius:5px;
}

.text-right{
text-align: right;
}

tr, td, th{
border-top: 1px solid #DFDFDF;
padding: 10px;
}

#graph1{
grid-column: 1/span 2;
/* width: 400px; */
}
#graph2{
grid-column: 3/span 2;
}

#table1{
grid-column: 1/span 2;
background-color: #fff;
padding: 10px;
box-shadow: 0 0 5px 0 #000;
}
#table2{
grid-column: 3/span 2;
background-color: #fff;
padding: 10px;
box-shadow: 0 0 5px 0 #000;
}

table{
    margin-top:10px;
}
/* /////////////////////charts section/////////////// */

#charts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    row-gap: 35px;
    column-gap: 35px;
    padding:30px;
    margin: auto;
    width: 100%;
}

#chart0, #chart2, #chart3, #chart4{
    width: 90%;
}

/* //////////////////////////form section//////////////////////////////// */
#forms{
    background-color: #00053b;
}

#forms h2{
    color: #fff;
    text-align: center;
}

#customerform{
    display:flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    height: 145px;
    background-color: #f99500
}

/* #insideform{
    background-color: #707070;
    height: 30%;
    width: 30%;
    margin: auto;
} */

#authentication{
    width: 60%;
    margin: auto;
    /* margin-top: 300px; */
}

/* ------------------------------settings------------------------------------------ */

#settings div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#settings p{
    color: #fff;
    font-size: 5rem;
}
#settings{
    height: 100%;
    background: linear-gradient(to right top, #fbfbd4, #f1e9a7, #e9d67a, #e4c24a, #e1ac00);
}


